= render 'common/seo_attributes', object: tags_facade.metapage
- content_for :head_title, tags_facade.metapage.seo_title

- content_for :relation_links, relation_links(tags_facade.tags)

.title._first-place Все темы
= render partial: 'front/tags/tag_with_ad', collection: tags_facade.tags, as: :tag

.pagination-wrapper = pagination(tags_facade.tags.object, mobile: true)
