.popular-questions
  padding 14px 20px
  background blockBack
  margin-bottom space

  &__block
    margin-bottom 16px

  &__title
    textTransUp()
    font-size 11px
    line-height 1.82
    letter-spacing 1px
    color #8d96b2

  &__theme
    font-size 14px
    line-height 1.4
    color #262626
    word-wrap break-word
    a
      color #262626
      font-family CorsicaRamblerLX-Medium



  &__counter
    font-size 11px
    color #315efb

  &__wrapper
    position relative
    top 3px
    display inline-block

  &__box
    centerBlock()
    margin-top -6px

  &__icon
    margin 0 4px
    display inline-block
    width 14px
    height 16px

    &-svg
      width 100%
      height 100%
