// Rambler Font
@import './blocks/font'

// vars
@import './blocks/vars'

// header
@import './blocks/header'

// common
@import './blocks/common'
@import './blocks/search'

// main
@import './blocks/question'
@import './blocks/tags'

//landing
@import './blocks/landing'

// footer
@import './blocks/footer'
