// media
@media(max-width: max-width)
  .wrapper
    width 940px
    padding 0 20px

  .main__left-sidebar
    display none
  .main__content,
  .filter-library__form
    margin-left 0 !important

  .viewed__book
    width 821px !important
  .viewed__container
    width 748px !important
  .viewed__card-book
    margin-right 23px !important

   .question-menu
    .wrapper
      padding-left 90px
